.featured {
  margin-bottom: 7rem;
  h2 {
    font-size: 3rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
  }
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}

@media (min-width: 640px) {
  .featured {
    margin-top: 5rem;
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1024px) {
  .featured {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
