.house {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      line-height: 1.6;
      font-size: 2rem;
      color: $accents-2;
    }
  }
}

@media (min-width: 640px) {
  .house {
    grid-template-columns: 1fr 1fr;
  }
}

.house-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  color: $white;
  background: $alpha;
  border-radius: 7px;
  padding: 3rem;
  margin: 4rem 0;
  p {
    margin-bottom: 1.4rem;
  }
  strong {
    font-weight: bold;
  }
}

@media only screen and (min-width: 640px) {
  .house-info {
  }
}

.individual-house {
  .titleBravo {
    margin-bottom: 6rem;
  }
}

.map-container {
  overflow: hidden;
  margin-bottom: 4rem;
}
