.house-item {
  background: $white;
  margin-bottom: 1.4rem;
  max-width: 600px;
  .house-item-text {
    margin: 1.4rem 1rem;
  }
  strong {
    font-weight: bold;
    color: $black;
  }
  h3 {
    font-size: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
  }
  p {
    color: $accents-2;
    margin: 1.4rem 0;
    color: $accents-2;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
