.page-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.results {
  .titleBravo {
    margin-bottom: 2rem;
  }
  .searched-term {
    color: $alpha;
  }
}
