// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;
$accent-1: #111111;
$accents-2: #333333;
$error: #ff0000;
$error-light: #ff3333;
$erro-dark: #e60000;
$alpha: #0070f3;
$alpha-light: #3291ff;
$alpha-dark: #0761d1;
