@import './global.scss';
@import './reset';
@import './typography';
@import './variables';
@import './components/home.scss';
@import './components/house-item.scss';
@import './components/layout.scss';
@import './components/house.scss';
@import './components/header.scss';

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
  height: 400px;
  background-image: url('/images/house-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 1rem;
  background-position: center;

  .visually-hidden {
    display: none;
  }

  .titleBravo {
    text-align: center;
    color: $white;
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    color: $white;
  }
}

@media only screen and (min-width: 657px) {
  .intro {
  }
}
.feature {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 6rem 0;
  .feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .titleBravo {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 3rem;
  }
  img {
    object-fit: cover;
    height: 100%;
  }
  p {
  }
}

@media only screen and (min-width: 657px) {
  .feature {
    grid-template-columns: 1fr 1fr;
  }
}

.search {
  padding: 2rem 0;
  input {
    width: 90vw;
    max-width: 400px;
    height: 3rem;
    border: $accents-2;
    padding-left: 1rem;
    font-size: 1.4rem;
    border-radius: 7px;
  }
  button {
    background: $alpha;
    color: $white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.25rem 1rem;
    border-radius: 7px;
    border: none;
    height: 3rem;
    margin-top: 1rem;
    &:hover {
      background: $alpha-light;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 654px) {
  .search {
    button {
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  a {
    margin-right: 1rem;
  }
}

footer {
  height: 10rem;
  background: $black;
  color: $white;
  display: grid;
  place-items: center;
}

.feature-two {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 8rem;
  .feature-two-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    background: $black;
  }
  .titleBravo {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 3rem;
  }
  img {
    object-fit: cover;
    height: 100%;
  }
  p {
  }
}
@media only screen and (min-width: 657px) {
  .feature-two {
    grid-template-columns: 1fr 1fr;
  }
}

.social-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
